/* This is a partial, you can rename this or create your own */

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}